<div class="row nav">
    <a href="/music">
        <h1 id="music" class="six columns">High Fidelity</h1>
    </a>
    <span class="three columns">&nbsp;</span>
    <a href="/music/new"><button type="button" name="button" class="new-product three columns">New
            Record Entry</button></a>
    <span class="one column">&nbsp;</span>
</div>