<div class="container">
    <h2>Add something</h2>
    <div class="jumbo">
        <form class="edit" action="/music" method="POST">
            <label for="band">Band: </label>
            <input type="text" name="band" value="" required>
            <label for="album">Album: </label>
            <input type="text" name="album" value="">
            <label for="tracks">Tracks: </label>
            <input type="textarea" name="tracks" value="">
            <input type="submit" name="submit" value="submit" class="edit-button">
        </form>
    </div>
</div>